In [1]:
import pandas as pd
import os
import nltk

In [2]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to C:\Users\akshay
[nltk_data]     desale\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [3]:
os.chdir("C:\\Users\\akshay desale\\OneDrive\\Documents\\")
Fake= pd.read_csv('Fake.csv')
print (Fake)

                                                   title  \
0       Donald Trump Sends Out Embarrassing New Year’...
1       Drunk Bragging Trump Staffer Started Russian ...
2       Sheriff David Clarke Becomes An Internet Joke...
3       Trump Is So Obsessed He Even Has Obama’s Name...
4       Pope Francis Just Called Out Donald Trump Dur...
...                                                  ...
23476  McPain: John McCain Furious That Iran Treated ...
23477  JUSTICE? Yahoo Settles E-mail Privacy Class-ac...
23478  Sunnistan: US and Allied ‘Safe Zone’ Plan to T...
23479  How to Blow $700 Million: Al Jazeera America F...
23480  10 U.S. Navy Sailors Held by Iranian Military ...

                                                    text      subject  \
0      Donald Trump just couldn t wish all Americans ...         News
1      House Intelligence Committee Chairman Devin Nu...         News
2      On Friday, it was revealed that former Milwauk...         News
3      On Christmas day, Donald Trump announced that ...         News
4      Pope Francis used his annual Christmas Day mes...         News
...                                                  ...          ...
23476  21st Century Wire says As 21WIRE reported earl...  Middle-east
23477  21st Century Wire says It s a familiar theme. ...  Middle-east
23478  Patrick Henningsen  21st Century WireRemember ...  Middle-east
23479  21st Century Wire says Al Jazeera America will...  Middle-east
23480  21st Century Wire says As 21WIRE predicted in ...  Middle-east

                    date
0      December 31, 2017
1      December 31, 2017
2      December 30, 2017
3      December 29, 2017
4      December 25, 2017
...                  ...
23476   January 16, 2016
23477   January 16, 2016
23478   January 15, 2016
23479   January 14, 2016
23480   January 12, 2016

[23481 rows x 4 columns]

In [4]:
os.chdir("C:\\Users\\akshay desale\\OneDrive\\Documents\\")
Real = pd.read_csv('True.csv')
print (True)

True

In [5]:
print(Fake.shape)
print(Real.shape)

(23481, 4)
(21417, 4)

In [6]:
Fake.head(10)

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017"
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017"
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017"
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017"
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017"

In [7]:
Real.head(10)

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017"
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017"
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017"

In [8]:
Fake['Real']=0
Real['Real']=1

In [9]:
Real

,title,text,subject,date,Real
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [10]:
dataset=pd.concat([Fake,Real])

In [11]:
dataset

,title,text,subject,date,Real
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

Pre Processing Steps

In [12]:
dataset=dataset.reset_index(drop=True)

In [13]:
dataset

,title,text,subject,date,Real
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
44893,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
44894,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
44895,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
44896,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
44897,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [14]:
dataset=dataset.drop(['title','subject','date'],axis=1)

In [15]:
dataset

                                                    text  Real
0      Donald Trump just couldn t wish all Americans ...     0
1      House Intelligence Committee Chairman Devin Nu...     0
2      On Friday, it was revealed that former Milwauk...     0
3      On Christmas day, Donald Trump announced that ...     0
4      Pope Francis used his annual Christmas Day mes...     0
...                                                  ...   ...
44893  BRUSSELS (Reuters) - NATO allies on Tuesday we...     1
44894  LONDON (Reuters) - LexisNexis, a provider of l...     1
44895  MINSK (Reuters) - In the shadow of disused Sov...     1
44896  MOSCOW (Reuters) - Vatican Secretary of State ...     1
44897  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...     1

[44898 rows x 2 columns]

In [16]:
from nltk.tokenize import word_tokenize
dataset['text']=dataset['text'].apply(word_tokenize)

In [17]:
dataset

                                                    text  Real
0      [Donald, Trump, just, couldn, t, wish, all, Am...     0
1      [House, Intelligence, Committee, Chairman, Dev...     0
2      [On, Friday, ,, it, was, revealed, that, forme...     0
3      [On, Christmas, day, ,, Donald, Trump, announc...     0
4      [Pope, Francis, used, his, annual, Christmas, ...     0
...                                                  ...   ...
44893  [BRUSSELS, (, Reuters, ), -, NATO, allies, on,...     1
44894  [LONDON, (, Reuters, ), -, LexisNexis, ,, a, p...     1
44895  [MINSK, (, Reuters, ), -, In, the, shadow, of,...     1
44896  [MOSCOW, (, Reuters, ), -, Vatican, Secretary,...     1
44897  [JAKARTA, (, Reuters, ), -, Indonesia, will, b...     1

[44898 rows x 2 columns]

In [18]:
from nltk.stem.snowball import SnowballStemmer

In [19]:
sb=SnowballStemmer('english')

In [20]:
def stem_it(text):
    return[sb.stem(word) for word in text]

In [22]:
dataset['text']=dataset['text'].apply(stem_it)

In [23]:
dataset

                                                    text  Real
0      [donald, trump, just, couldn, t, wish, all, am...     0
1      [hous, intellig, committ, chairman, devin, nun...     0
2      [on, friday, ,, it, was, reveal, that, former,...     0
3      [on, christma, day, ,, donald, trump, announc,...     0
4      [pope, franci, use, his, annual, christma, day...     0
...                                                  ...   ...
44893  [brussel, (, reuter, ), -, nato, alli, on, tue...     1
44894  [london, (, reuter, ), -, lexisnexi, ,, a, pro...     1
44895  [minsk, (, reuter, ), -, in, the, shadow, of, ...     1
44896  [moscow, (, reuter, ), -, vatican, secretari, ...     1
44897  [jakarta, (, reuter, ), -, indonesia, will, bu...     1

[44898 rows x 2 columns]

In [24]:
def stopword_removal(text):
    return [word for word in text if len(word) >>2]

In [25]:
dataset['text']=dataset['text'].apply(stopword_removal)

In [26]:
dataset

                                                    text  Real
0      [donald, trump, just, couldn, wish, american, ...     0
1      [hous, intellig, committ, chairman, devin, nun...     0
2      [friday, reveal, that, former, milwauk, sherif...     0
3      [christma, donald, trump, announc, that, would...     0
4      [pope, franci, annual, christma, messag, rebuk...     0
...                                                  ...   ...
44893  [brussel, reuter, nato, alli, tuesday, welcom,...     1
44894  [london, reuter, lexisnexi, provid, legal, reg...     1
44895  [minsk, reuter, shadow, disus, soviet-era, fac...     1
44896  [moscow, reuter, vatican, secretari, state, ca...     1
44897  [jakarta, reuter, indonesia, will, sukhoi, fig...     1

[44898 rows x 2 columns]

In [27]:
dataset['text']=dataset['text'].apply(''.join)

In [28]:
dataset

                                                    text  Real
0      donaldtrumpjustcouldnwishamericanhappiyearleav...     0
1      housintelligcommittchairmandevinnunehavebeenun...     0
2      fridayrevealthatformermilwauksheriffdavidclark...     0
3      christmadonaldtrumpannouncthatwouldbackworkfol...     0
4      popefranciannualchristmamessagrebukdonaldtrump...     0
...                                                  ...   ...
44893  brusselreuternatoallituesdaywelcompresiddonald...     1
44894  londonreuterlexisnexiprovidlegalregulatoribusi...     1
44895  minskreutershadowdisussoviet-erafactoriminskst...     1
44896  moscowreutervaticansecretaristatecardinpietrop...     1
44897  jakartareuterindonesiawillsukhoifighterworth1....     1

[44898 rows x 2 columns]

In [30]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(dataset['text'],dataset['Real'],test_size=0.25)

In [31]:
x_train

29094    washingtonreuterpresiddonaldtrumpsaidtuesdayne...
41142    reuterrussiancybersecurfirmkasperskisaidthursd...
3026     donaldtrumpbeendemandthatsomeonprovidproofthat...
5114     donaldtrumpreallishouldhavejustapologkeptmouth...
29745    austintexareuterleadertexaplanparenthoodfederj...
                               ...
12188    admitsomalibeensettlyearpakistanlikeohiostatej...
22685    21stcenturiwirebeenfollowprotestfederstandoffo...
30325    washingtonreuterkochindustriprivatconglombilli...
16307    hedgfundmanagstevemnuchinsaidthismornthatpresi...
30809    washington/beijreuterelectclimatchangskepticdo...
Name: text, Length: 33673, dtype: object

In [35]:
from sklearn.feature_extraction.text import TfidfVectorizer 
tfidfv=TfidfVectorizer(max_df=0.7)

In [36]:
tfidfv_train=tfidfv.fit_transform(x_train)
tfidfv_test=tfidfv.transform(x_test)

In [37]:
print(tfidfv_train)

  (0, 34342)	0.7071067811865475
  (0, 249910)	0.7071067811865475
  (1, 153910)	0.7071067811865475
  (1, 189979)	0.7071067811865475
  (2, 210061)	0.3959895078391824
  (2, 91009)	0.3055877142292585
  (2, 82072)	0.4329574051201281
  (2, 147169)	0.4329574051201281
  (2, 164924)	0.4329574051201281
  (2, 76250)	0.4329574051201281
  (3, 100094)	0.06634075555341369
  (3, 90863)	0.11959823345796577
  (3, 243588)	0.18902730821933542
  (3, 114019)	0.18902730821933542
  (3, 87901)	0.18902730821933542
  (3, 167958)	0.18902730821933542
  (3, 182556)	0.18902730821933542
  (3, 128301)	0.18902730821933542
  (3, 48646)	0.18902730821933542
  (3, 61561)	0.40733873507726076
  (3, 242157)	0.43335900168306574
  (3, 244665)	0.18902730821933542
  (3, 182562)	0.18902730821933542
  (3, 14110)	0.18902730821933542
  (3, 60920)	0.14190772345873193
  :	:
  (33670, 25053)	0.2581988897471611
  (33670, 81641)	0.2581988897471611
  (33670, 62757)	0.2581988897471611
  (33670, 89505)	0.2581988897471611
  (33670, 61254)	0.2581988897471611
  (33670, 82416)	0.2581988897471611
  (33670, 89498)	0.2581988897471611
  (33670, 249252)	0.2581988897471611
  (33671, 148334)	0.5232812877517943
  (33671, 82526)	0.5232812877517943
  (33671, 106286)	0.5382778848638041
  (33671, 184635)	0.4032496825097288
  (33672, 152047)	0.28462372355207993
  (33672, 55046)	0.28462372355207993
  (33672, 180619)	0.28462372355207993
  (33672, 57887)	0.28462372355207993
  (33672, 131449)	0.28462372355207993
  (33672, 209818)	0.28462372355207993
  (33672, 117209)	0.28462372355207993
  (33672, 144493)	0.28462372355207993
  (33672, 152269)	0.28462372355207993
  (33672, 57162)	0.28462372355207993
  (33672, 133544)	0.28462372355207993
  (33672, 44473)	0.28462372355207993
  (33672, 248298)	0.16694918956434004

In [38]:
from sklearn.linear_model import LogisticRegression

In [39]:
lr=LogisticRegression(max_iter=1000)

lr.fit(tfidfv_train,y_train)

LogisticRegression(max_iter=1000)

In [40]:
y_pred=lr.predict(tfidfv_test)

In [42]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8589755011135858

In [43]:
from sklearn.linear_model import PassiveAggressiveClassifier
pac=PassiveAggressiveClassifier(max_iter=1000)
pac.fit(tfidfv_train,y_train)

PassiveAggressiveClassifier()

In [44]:
y_pred=pac.predict(tfidfv_test)

In [45]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8710913140311805